<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<form class="skills-form">
  <div class="skills-container">
    <div class="skills">
      {{#each system.skills}}
      {{#if (even @index)}}
      <div class="skill-row">
      {{/if}}
        <div class="skill" data-index="{{@index}}">
          <div class="skill-name-row">
            <span class="skill-name" data-action="rollSkill">{{this.skillname}}</span>
            <button type="button" class="edit-skill"><i class="fas fa-edit"></i></button>
          </div>
          <div class="skill-level-row">
            <select class="skill-level {{this.skilllevel}}" name="skill-level" data-index="{{@index}}">
              <option value="untrained" {{#if (eq this.skilllevel "untrained")}}selected{{/if}}>Untrained</option>
              <option value="trained" {{#if (eq this.skilllevel "trained")}}selected{{/if}}>Trained</option>
              <option value="expert" {{#if (eq this.skilllevel "expert")}}selected{{/if}}>Expert</option>
              <option value="master" {{#if (eq this.skilllevel "master")}}selected{{/if}}>Master</option>
              <option value="legendary" {{#if (eq this.skilllevel "legendary")}}selected{{/if}}>Legendary</option>
            </select>
            <button type="button" class="delete-skill"><i class="fas fa-trash"></i></button>
          </div>
        </div>
      {{#if (odd @index)}}
      </div>
      {{/if}}
      {{/each}}
      {{#if (odd system.skills.length)}}
      </div>
      {{/if}}
    </div>
  </div>
  <div class="add-skill-center"><span class="add-skill">Add Skill</span></div>
</form>

