<div class="row">
  <div class="columns headline3">Strength  <input type="number" name="system.abilities.str.value" value="{{system.abilities.str.value}}" data-dtype="Number"/></div>
  <div class="columns headline3">Agility  <input type="number" name="system.abilities.str.value" value="{{system.abilities.str.value}}" data-dtype="Number"/></div>
  <div class="columns headline3">Wits  <input type="number" name="system.abilities.str.value" value="{{system.abilities.str.value}}" data-dtype="Number"/></div>
</div>