<form>
  <div class="form-group">
    <label>Skill Level</label>
    <input type="number" name="system.skill.skillLevel" value="{{system.skill.skillLevel}}">
  </div>
  
  <div class="form-group">
    <label>Firearms Skill</label>
    <input type="checkbox" name="system.skill.firearmsSkill" {{#if system.skill.firearmsSkill}}checked{{/if}}>
  </div>
  
  <div class="form-group">
    <label>For Firearm</label>
    <select name="system.skill.forFirearm">
      {{#each system.skill.forFirearm as |label key|}}
      <option value="{{key}}" {{#if (eq key ../system.skill.forFirearm)}}selected{{/if}}>{{label}}</option>
      {{/each}}
    </select>
  </div>
</form>