<form class="{{cssClass}}" autocomplete="off">
    <div class="textdescrip column"><input type="number" name="itemData.skillLevel.value" value="{{itemData.skillLevel.value}}" data-dtype="Number"/></div>
</form>